@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Font */
    --font-dm-sans: "DM Sans", sans-serif;

    /* Colors */
    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);
}